In [ ]:
import bs4
import requests
from bs4 import BeautifulSoup as bs
from tqdm import tqdm
import pandas as pd
from random import randint
from time import sleep
import numpy as np

In [6]:
URL= "https://www.hindutamil.in/news/business/1"

In [7]:
import numpy as np

pages = np.arange(1, 600, 1)
data_hindu = []

for page in pages:
    req= requests.get(URL+str(page)+'/')
    soup = bs(req.text, 'html.parser')
    
    titles = soup.find_all('div',attrs = {'class','card-body px-0 height100px'})
    
    sleep(randint(2,10)) 
    for ta in titles:
        name = ta.a.p.text # text present in div.a.p.text
        data_hindu.append(name)

In [8]:
data = pd.DataFrame(data_hindu)
data.shape

(9584, 1)

In [9]:
data.rename(columns={'State_news':'News'}, inplace=True)
data['Category']= "Business"
data.tail()

                                                      0  Category
9579   தீபாவளி | எட்டயபுரம் சந்தையில் ரூ.6 கோடிக்கு ...  Business
9580   கடலில் மிதக்கும் காற்றாலைகளை அமைக்கிறது என்எல...  Business
9581   தீபாவளி | தமிழகம் முழுவதும் 1,000 ஸ்பின்னிங் ...  Business
9582   ஸ்மார்ட் போனுக்கு ஸ்மார்ட் டிவி இலவசம்: பிரிய...  Business
9583   இங்கிலாந்து பொருளாதார வீழ்ச்சிக்கு வித்திட்டவ...  Business

In [10]:
# writing to Excel
Fb_post = pd.ExcelWriter('Business.xlsx')
data.to_excel(Fb_post)
# save the excel
Fb_post.save()